body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
    font-size: 18px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background-color: #E0D8B0;
}

section.module.parallax h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    z-index: 50;
    text-transform: uppercase;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

section.module.parallax:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}

section.module.parallax_first {
    background-image: url(../img/network.jpg);
}

/* ----------------------------------------------------------------------------- */

.navegacao_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px !important;
}

.menu_navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_navegacao ul {
    list-style: none;
}

.menu_navegacao li {
    display: inline-block;
}

.menu_navegacao a {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

.section_article {
    margin: 0 auto;
    width: 100%;
}

.section_article article {
    align-items: center;
    text-align: center;
}

.section_article h2 {
    width: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 2px solid #E0D8B0;
}

.section_article p {
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.section_article li {
    list-style: none;
    font-size: 18px;
    padding-bottom: 15px;
}

footer {
    background-color: #E0D8B0;
    align-items: center;
}

footer p {
    text-align: center;
}

footer a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000;
}

footer i {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .body {
        width: 100%;
    }

    .social_thinking {
        width: 100%;
    }

    .section_article {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .body {
        width: 100%;
    }

    .social_thinking {
        width: 100%;
    }

    .section_article {
        width: 100%;
        font-size: 1rem;
    }

    .section_article h2 {
        font-size: 1.5rem;
    }

    .section_article img {
        width: 100%;
        filter: grayscale(50%);
    }

    .container {
        width: 100%;
        padding: 0
    }

    .container p {
        padding: 0 1rem;
        text-align: center;
    }

    .container h1 {
        font-size: 1rem;
        text-align: center;
    }

}